@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

html, body, #root { height: 100%; }

@theme inline {
  --font-caveat: 'Caveat', cursive;
  --font-nunito: 'Nunito', sans-serif;
}

* { scrollbar-width: none; }
*::-webkit-scrollbar { display: none; }

.leaflet-container { border-radius: 16px; z-index: 0; }
